*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
      margin: 0;
     height: 100%;
     background-color: black;
}

h2{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: SpringGreen;
    font-family: 'Hind', sans-serif;
}

ul {
  cursor: pointer;
  margin: 0;
  padding:0;

}

ul li {

  position: relative;
  padding: 10px 15px 10px 15px;
  list-style-type: none;
  background: none;
  font-size: 18px;
  transition: 0.2s;
  opacity: 0.5;


  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Add a "checked" mark when clicked on */
ul li.myCheck::before {

  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


#myDiv ul li input[type='checkbox']:checked+label{
  text-decoration: line-through;

}

.todoList{

  justify-content: center;
  align-items: center;
  text-align: center;
}


.input_div{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}

#input{
      padding: 1rem 1rem;
      height: 10px;
      outline: none;
      background-color: Snow;
      box-sizing: border-box;
      width: 250px;
      float: left;
      font-size: 1rem;
      margin:0.20rem;
      border-radius: 25px;
}
#todos{
  padding: 1.5rem;
  color: Snow ;
  text-align: justify;
  box-sizing: border-box;
}

.addButton{
      font-family: 'Font Awesome 5 Free';
      font-size: 1.5rem;
      padding: 10px;
      border-radius: 50px;
      outline: none;
      border: none;
      color: white;
      margin: 0.05rem;
      background-color:black;
      cursor: pointer;
}




.close {
  font-weight: bold;
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  padding:12px 12px 12px 25px;
}


.content{
      display: grid;
      flex-direction:column;
      justify-content:center;
      align-items: center;
      text-align: justify;
      margin-top: 2rem;
}
